---

---

<footer class='grid grid-cols-2 gap-x-10 items-center text-center h-8 bg-gray-950 text-gray-500 text-xs'>
  <a href='https://seedwebs.com' target='_blank'>Built by Seed Webs</a>
  <a href='https://github.com/seedwebs/currency-to-thb' target='_blank'>GitHub</a>
</footer>
