---

---

<footer class='flex justify-center items-center gap-1 h-8 bg-gray-950 text-gray-400 text-xs'>
  <a href='https://seedwebs.com' target='_blank' title='Built by Seed Webs'>Built by Seed Webs</a>
  •
  <a href='https://github.com/seedwebs/currency-to-thb' target='_blank' title='GitHub Repository'>GitHub</a>
</footer>
