---
import '@/styles/global.css'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content='KEE BAHT (กี่บาท) is a simple tool to convert currencies to Thai Baht.' />
    <title>Kee Baht (กี่บาท) - Currency to THB</title>
  </head>
  <body>
    <h1 class='sr-only'>Kee Baht (กี่บาท) - Currency to THB</h1>
    <div class='min-h-dvh max-w-screen-sm mx-auto shadow'>
      <slot />
    </div>
  </body>
</html>
